/* ============================== CORNER PLUS ================================ */


.corner-plus {
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.corner-plus span {
  position: absolute;
  display: block;
  background: rgba(255, 255, 255, 0.45);
}

.corner-plus span:first-child {
  width: 14px;
  height: 1px;
  top: 6px;
  left: 0;
}

.corner-plus span:last-child {
  width: 1px;
  height: 14px;
  top: 0;
  left: 6px;
}